.sun-editor .se-toolbar {
    display: block;
    position: relative;
    height: auto;
    width: 100%;
    overflow: visible;
    padding: 0;
    margin: 0;
    background-color: #fafafa;
    outline: 1px solid #dadada;
    z-index: unset
}